
<div>
    <app-card precoc="black" btnc="black" colort="black" background="white" titulo="Basic" preco="$19.99" conteudo1=" 500GB" conteudo2= "2 UsersAllowed" conteudo3="send up to 3GB" (ODoClicarBotao)="openSnackBar()"></app-card>
    <app-card precoc="white" btnc="white" colort="white" background="rgb(145,149,236)" titulo="Professional" preco="$24.99" conteudo1="1TB storage" conteudo2=" 5 UsersAllowed" conteudo3="Send Up to 10GB" (ODoClicarBotao)="openSnackBar()" ></app-card>
    <app-card precoc="black" btnc="black" colort="black" background="white" titulo="Master" preco="$39.99" conteudo1=" 2TB " conteudo2="10 UsersAllowed" conteudo3="Send Up to 20GB"(ODoClicarBotao)="openSnackBar()"></app-card>
</div>
    


<!--aqui eu tenho que escutar o evento que eu criei-->




























